html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins, #abilityInfo {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 12px;
    height: auto;
    width: 700px;
}

#abilityInfo {
    overflow: auto;
    border: white 1px outset;
}

#abilityInfo .name {
    font-size: 20px;
    font-weight: bold;
}
