html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins, #abilityInfo {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, serif;
    font-size: 12px;
    height: auto;
    width: 700px;
}

#abilityInfo {
    overflow-wrap: break-word;
    border: #dedede 1px outset;
    font-weight: 400;
}

/* hide any video in HTML */
video {
    display: none;
}

#abilityInfo .name {
    font-size: 20px;
    font-weight: 550;
}

#abilityInfo .ad {
    color: #ffae1a;
}

#abilityInfo .ap {
    color: #7366ff;
}

#abilityInfo .hp {
    color: #69e1a5;
}

#abilityInfo .armor {
    color: #1affff;
}

#abilityInfo .mr {
    color: #ffff1a;
}

#abilityInfo hr {
    color: #444444;
}




